<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Tools I need for my basic setup -->
	<package id="msys2"/>
	<package id="kdiff3"/>
	<package id="p4merge"/>
	<package id="ripgrep"/>
	<package id="altdrag"/>
	<package id="winaero-tweaker"/>

	<!-- Other niceties -->
	<package id="rescuetime"/>
	<package id="sublimetext3"/>
	<package id="firefox"/>
</packages>
